.logo { composes: logo from "../../styles/shared.css"; }

.card {
  position: absolute;
  width: 350px;
  height: 450px;
  right: -400px;
  top: -60px;
  background-color: #f3dcdc;
  padding: 25px;
}

.card-inner {
  background-color: #fff;
  height: 100%;
  padding: 20px;
}

.card-info {
  font-size: 10px;
  margin-bottom: 10px;
  padding: 0 30px;
}

.card-name {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 10px;
}

.card-message {
  font-size: 10px;
}

.heading {
  margin-top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;;
}

.icon {
  width: 100px;
}