.step-button { composes: step-button from "../../../styles/shared.css"; }
.step-header { composes: step-header from "../../../styles/shared.css"; }
.textfield { composes: textfield from "../../../styles/shared.css"; }

.step-button:after {
  content: "";
  position: absolute;
  right: 15px;
  top: 17px;
  margin-left: 5px;
  height: 1.0625rem;
  width: 1.0625rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("https://www.hjarnfonden.se/next/images/ArrowLink.svg");
  filter: invert(68%) sepia(91%) saturate(3225%) hue-rotate(305deg) brightness(101%) contrast(111%);
}

.address-open {
  display: block;
}

.address-closed {
  display: none;
}

.toggle-open,
.toggle-closed {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 19px;
  cursor: pointer;
}

.toggle-open:after {
  content: '\276F';
  position: absolute;
  top: 2px;
  right: -20px;
  transform: rotate(90deg);
}

.toggle-closed:after {
  content: '\276F';
  position: absolute;
  top: 2px;
  right: -20px;
  transform: rotate(-90deg);
}

.socialnumber {
  margin-bottom: 40px;
}

.agreement {
  margin-bottom: 30px;
}

.donator-wrapper {
  margin: 25px 20px;
}

.donator-info {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 18px;
}

.donator-prefix {
  font-weight: 600;
  margin-right: 5px;
}